{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Deletar </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <h1> Deletar Livro do Acervo </h1>
    
    <p> Tem certeza que deseja deletar?</p>
    <p>{{livro.nome_livro}} - {{livro.autor_livro}}</p>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit"> Confirmar </button>
    </form>
    <a href="{% url 'listar_acervo' %}"> Errei fui mlk, não quero mais apagar </a>
    
</body>
</html>