<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <style>
        h1,h2{
            color: purple;
        }
    </style>
</head>
<body>

    <h1> Biblioteca Bosch</h1>

    <form method="get" action="{% url 'listar_acervo' %}">
        <input type="text" name="q" placeholder="Buscar por título, autor ou ano" value="{{ query }}">
        <button type="submit">Buscar</button>
    </form>

    <ul>
        {% for i in pesquisa %}
            <li>{{ i.nome_livro }} </li>
        {% empty %}
            <li>Nenhum livro encontrado.</li>
        {% endfor %}
    </ul>

    <ul>
        {% for i in acervo %}
        <h2> Livros Listados </h2>
            <li>
                {{i.nome_livro}} - {{i.autor_livro}} 
                <br>
                <a href="{% url 'atualizar' i.pk %}"> Editar </a>
           
                <a href="{% url 'deletar' i.pk %}"> Deletar </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'cadastro_livro' %}"> Adicione um novo livro </a>
    
</body>
</html>