@use './variaveis' as *;

.coluna {
    background-color: $background;
    border: 2px solid $secondary;
    border-radius: 6px; // corrigi border:6px para border-radius
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1; // faz cada coluna ter largura igual

    .titulo {
        font-size: 18px;
        color: $primary;
        text-align: center;
        font-family: $font-primary;
    }
}
