@use './variaveis.scss' as *;

.conteiner {
    max-width: 1440px;
    margin: 10px auto;
    padding: 10px;
    background-color: $secondary;

    display: flex;
    flex-direction: column; // título em cima
    align-items: center;

    h1 {
        width: 100%;
        text-align: center;
        font-size: 26px;
        color: $background;
        margin-bottom: 20px;
    }

    // nova área para as colunas
    .colunas {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }
}
