@use './variaveis.scss' as *;

.conteiner {
    max-width: 1440px;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-direction: row; // altera para linha
    gap: 20px;           // espaço entre as colunas
    background-color: $secondary;
    justify-content: center; // centraliza as colunas horizontalmente
    align-items: flex-start; // alinha topo das colunas

    h1 {
        width: 100%;
        text-align: center;
        font-size: 26px;
        color: $background;
        margin-bottom: 20px;
    }
}
